body,ul,li,p,h1,h3{margin:0;padding:0;font-family:'Microsoft YaHei';}
body{ background-color:#f5f5f5; min-width: 1200px;}
ul,li{list-style:none;}
em { font-style: normal;}
img{border:none; display:block;}
a{ text-decoration:none; color:#000;}
a:hover {text-decoration: underline;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{ *zoom:1;}
*{ max-height:99999px;}


.section{ margin:0 auto; width:1200px; position:relative; z-index:2;}
.telec-head-map,.telec-head-wei{ float:left; font-size:14px;}
.telec-head-map span,.telec-head-wei span{ float:left; display:block; height:40px; line-height:40px; cursor:pointer;}
.telec-head-map span{ margin-left:10px;}
.telec-head-map i,.telec-head-wei i{ display:block; width:6px; height:12px; float:left; background:url(/2016/images/ico.png) 0 0 no-repeat; margin:14px 0 0 9px;}
.telec-head-wei span{ margin-left:32px;}
.map-dop{ width:1200px; height:125px; position:absolute; left:0; top:40px; background:#333; opacity:.95; display:none;}
.map-dop h3{ font-size:18px; line-height:20px; margin-top:20px; margin-bottom:6px;}
.map-dop h3.h-1{ color:#ff0000;}
.map-dop h3.h-2{ color:#ffcc00;}
.map-dop h3.h-3{ color:#33ccff;}
.map-dop .dop{ float:left;}
.map-dop em{ width:28px; height:9px; position:absolute; top:-8px; left:24px; background:url(/2016/images/ico.png) -50px 0 no-repeat; }
.map-dop.part1 em{ left:130px;}
.telec-head-map:hover i,.telec-head-wei:hover i{ background:none;}
.telec-head-map:hover .map-dop,.telec-head-wei:hover .map-dop{ display:block;}
.map-dop.on{ display:block;}
.dop-part{ font-size:14px;    margin-left: 82px;}
.dop-part a{ color:#fff; display:block; margin-top:13px;}
.dop-part .dp{ float:left; width:33px; height:33px; background:url(/2016/images/ico.png) -150px -50px no-repeat;}
.dop-part .dp.dp2{ background-position:-200px -50px;}
.dop-part .p2{ float:left; line-height:33px; margin-left:13px;}




.map-dop li{ float:left; font-size:14px; line-height:24px;}
.map-dop li a{ color:#fff;}
.dop-1{ width:660px; overflow:hidden; margin-left: 10px;}
.dop-1 li{ width:94px;}
.dop-2{ width:250px;}
.dop-2 li,.dop-3 li{ margin-right:26px;}
.dop-2 li.last,.dop-3 li.last{ margin-right:0;}
.dop-3{ width:170px;}

.telec-head-login{ float:left; color:#fff; font-size:14px; line-height:40px; text-align:center; background-color:#fff; margin-left:416px;}
.telec-head-login .denglu,.telec-head-login .zhuce{ width:62px; height:40px; background: 0 0 no-repeat; float:left; display:block; color:#fff; text-decoration:none;}
.telec-head-login .denglu{ background-image:url(/2016/images/login1.png);}
.telec-head-login .zhuce{ background-image:url(/2016/images/zhuce.png);}
.txQQ,.xlWeiBo{ float:left; width:56px; height:40px; display:block; background-color:#eee;}
.xlWeiBo{ margin-left:1px;}
.qq-ico,.wb-ico{ background:url(/2016/images/ico.png) 0 0 no-repeat; height:28px;}
.qq-ico{ background-position:-100px 0px; margin:6px auto 0; width:28px;}
.qq-ico:hover{ background-position:-150px 0px;}
.wb-ico{ background-position:-200px 0px; margin:9px auto 0; width:35px;}
.wb-ico:hover{ background-position:-250px 0px;}

.telec-head-coll{ float:left; font-size:14px; color:#333; line-height:40px; margin-left:30px;}
.telec-head-coll div{ float:left;}
.telec-head-coll i{ width:18px; height:18px; background:url(/2016/images/ico.png) 0 -50px no-repeat; display:block; float:left; margin-top:11px; margin-left:7px;}
.telec-head-coll i.on{ background-position:-50px -50px;}
.telec-head-sousuo{ float:right; position:relative;}
.head-inp{ width:180px; height:26px; border:1px solid #656565; outline:none; border-radius:10px; margin-top: 7px; color:#999; padding:0 20px;}
.head-btn{ position:absolute; width:20px; height:19px; top:11px; right:6px; background:url(/2016/images/ico.png) -100px -50px no-repeat; cursor:pointer;}

.main-nav{ background:#333; border-bottom:6px solid #89428a;}
.nav-mod-1{ width:1200px; margin:0 auto; padding-bottom:20px; position:relative;}
.nav-mod-1 i.ico{ width:50px; height:8px; background:url(/2016/images/ico.png) -50px -250px no-repeat; position:absolute; bottom:-1px; left:357px;}
.nav-logo{ width:286px; height:84px; float:left; margin-top:21px;}
.nav-list{ float:right; margin-top:46px;}
.nav-list li{ float:left; font-size:24px; color:#ccc; margin-left:22px;}
.nav-list li a{ color:#ccc; display: block}
.nav-list li.on{ line-height:30px;}
.nav-list li.on a{ font-weight:bold; color:#fff;}

.top-ads{ margin-top:20px;}
.ads-dx{ background-color:#eee;}
.ads-dx li{ float:left; width:300px; height:36px; text-align:center; line-height:36px;}
.ads-dx li.on{ background-color:#dcdcdc;}
.ads-dx li a{ color:#89428a;}

.ads-lg{ height:64px; background-color:#fff;}
.ads-lg ul{ float:left;}
.ads-lg li{ float:left; border-left:1px solid #e5e5e5; margin-top:20px;width:125px;}
.ads-lg li.on{ border:none;}
.ads-lg li img{ display:block; margin:0 auto;}

.ads-more{ float:right; width:40px; height:100%; border-left:1px solid #eee; background:url(/2016/images/ico.png) -234px -32px no-repeat; cursor:pointer;}
.nav-mod-2{ height:128px; background-color:#fff; margin-top:20px; font-size:14px; font-family:'simun'; padding-top:20px;}
.mod-2-left{ float:left; margin-right:10px; margin-left:10px;}
.mod-2-right{ float:left;}
.mod-2-right ul{ float:left;}
.mod-2-right li{ float:left; font-size:14px; font-family:'simun'; margin-right:28px;}
.mod2-more{ float:left;}
.mod-2-name{ width:46px; height:20px; float:left; background-color:#993399; color:#fff; text-align:center; line-height:20px; float:left;}
.ico{ width:7px; height:20px; float:left; background:url(/2016/images/ico.png) -6px -96px no-repeat;}
.mod-2-l{ margin-bottom:10px;}

.mod-part2{  position: absolute;    width:300px;right:0;top: 110px;}
.mod-part2-p1,.mod-part2-p2,.mod-part2-p3{ float:left; line-height:20px;}
.mod-part2-p1{  margin-top:4px;}
.mod-part2-p2{ margin-left:18px; margin-top:4px;}
.mod-part2-p3{ float:right; margin-right:14px;}
.mod-part2-p1 i{ width:13px; height:13px; background:url(/2016/images/ico.png) -100px -250px no-repeat; display:block; float:left; margin-right:6px; margin-top:3px;}
.mod-part2-p2 i{ width:19px; height:17px; background:url(/2016/images/ico.png) -150px -250px no-repeat; display:block; float:left; margin-right:6px;}
.mod-part2-p3{ display:block; width:70px; height:26px; line-height:26px; text-align:center; background-color:#993399; color:#fff;}
.mod-part2-p3:hover{ background-color:#920783;}
/*.part-a{ margin-top:20px;}*/
.part-a{ margin-top:0px;}
.part-a li{ float:left; width:296px; height:240px; margin-left:3px; overflow:hidden;}
.part-a li a{ display:block; position:relative; color:#fff; line-height:60px;}
.part-a li img{width:296px; height:240px; transition:2s; -webkit-transition:2s;}
.part-a li img:hover{ transform: scaleX(1.1) scaleY(1.1);,-webkit-transform: scaleX(1.1) scaleY(1.1);}
.part-a li.first{ width:600px; height:480px; margin-left:0;}
.part-a li.first img{ width:600px; height:480px;}

.scroll{ position:absolute; left:0; bottom:0; height:60px; background:url(/2016/images/scoll.png); width:100%;}
.scroll-img{ width:40px; height:60px; background:#89428a; float:left;}
.scroll-img.shouce{ background-position:-190px -235px;}
.scroll-img.xinpin{ background-position:-40px -285px;}
.scroll-img.fabu{ background-position:-240px -235px;}
.scroll-img.rewen{ background-position:10px -285px;}
.scroll-txt{ margin-left:40px; color:#fff; padding:0 10px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}

.part-b{ margin-top:20px; background-color:#fff; padding-top:16px; padding-bottom:20px;}
.part-b h3,.part-c h3,.part-d h3,.part-e h3,.part-f h3{ color:#9b59a5; font-size:24px; float:left; line-height:28px; margin-left:10px;}
.part-b i,.part-c i,.part-d i,.part-e i,.part-f i{ display:block; background:url(/2016/images/ico.png) no-repeat; float:left;}
.part-b-l{ width:363px; float:left; margin-left:10px; height:509px;}
.remen i{ width:30px; height:28px; background-position:-50px -100px;}

.tab-nav span{ display:block; float:left; font-size:14px; color:#333; display:block; margin:0 10px; cursor:pointer; height:44px; line-height:44px; position:absolute;}
.tab-nav span.on{ color:#89428a; background:url(/2016/images/2.jpg) 50% 36px no-repeat;}
.tab-nav{ height:36px;border-bottom:2px solid #89428a;}
.sp1{ left:10px;}
.sp2{ left:87px;}
.sp3{ left:165px;}
.tab-li-th span{ display:block; float:left; width:119px; height:24px; text-align:center; line-height:24px; font-size:14px; color:#4e4e4e; background-color:#dcdcdc; cursor:pointer;}
.tab-li-th span.on{ background-color:#c9c9c9;}
.li-th-m{ margin:0 3px;}
.tab-li{ margin-top:12px;}
/*熊正茂start*/
.mouse-list {display: none}
.mouse-list.on{display: block}

/*熊正茂end*/
.mouse-list li { margin-top:7px; border-bottom: 1px solid #eee; padding-bottom: 7px; cursor: pointer;}
.mouse-list li.last{ border:none;}
.mouse-tit em { width: 17px; height: 14px; background: #666; line-height: 14px; text-align: center; display: block; font-family: Arial; float: left; font-size:12px; color:#fff; margin-top:2px;}
.mouse-tit em.n1 {background-color: #89428a; color: #fff;}
.mouse-tit .title {display: block; font-size: 12px; float: left; color: #333; line-height: 17px; margin-left: 20px; width: 220px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.mouse-tit .price { display: block; float: right; font-family: Arial; font-size: 12px; color: #cc0000;}
.mouse-img { margin-top: 10px; display: none; padding-left: 37px;}
.mouse-img .pic { display: block; float: left;}
.mouse-img .pic img { width: 80px; height: 60px;}
.links { float: right; width: 120px;}
.links a { display: block; width: 48px; height: 20px; border: 1px solid #dcdcdc; float: left; text-align: center; line-height: 20px;  font-size: 12px; color: #666; margin-bottom: 10px; margin-left: 10px;}
.links a:hover{ text-decoration:none; background-color:#dcdcdc;}
.mouse-list li.on .mouse-img { display: block;}
.mouse-list{ margin-top:21px;}
.tab-cont{ display:none;}
.tab-cont.on{ display:block;}
.part-b-left{ float:left; width:881px;}
.part-b-r{ float:right; width:489px; height:509px;}
.jiaodian i{ width: 34px; height: 28px; background-position: -100px -95px;}
.jiaodian{ padding-bottom:18px; border-bottom:2px solid #89428a; width:489px;}
.jd-title{ text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size:18px; font-weight:bold; line-height:18px; margin-top:18px;}
.jd-title a{ color:#cf1111; }
.jd-mod-1{ font-size:14px; line-height:14px; margin-top:10px; text-align:center;}
.jd-mod-1 a{ color:#3e3a39;}
.jd-mod-2{ border:1px solid #eb6100; color:#ff9900; text-align:center; line-height:58px; font-size:18px; font-weight:bold; margin-top:20px;}
.jd-mod-3-img{ float:left; width:120px; height:80px;}
.jd-mod-3-text{ float:left; width:350px; margin-left:17px;}
.jd-mod-3-text p{ font-size:14px; color:#666; line-height:22px; margin-top: 10px;}
.jd-mod-3-text a{ line-height:18px;}
.jd-mod-3 img{ width:120px; height:80px;}
.jd-mod-3 a{ font-size:18px; color:#333;}
.jd-mod-3{ margin-top:30px;}
.jd-mod-3-bot{ margin-top:20px;}
.jd-mod-4-img{ width:80px; height:80px; overflow:hidden; border-radius:60px; float:left;}
.jd-mod-4-text{ margin-left:20px; float:left;}
.jd-mod-4-text-tit{ font-size:16px; color:#4e4e4e; line-height:18px;}
.jd-mod-4-text p{ font-size:14px; color:#999; line-height:14px; margin-top:7px;}
.jd-mod-4-text div{ font-size:14px; color:#333; line-height:14px; margin-top:18px;}
.jd-mod-4-part{ float:left;}
.jd-mod-4-part.last{ float:right;}
.jd-mod-4 { margin-top:20px;}
.part-b-b{ float:left; margin-left:8px; margin-top:12px;}
.dalao i{ width:27px; height:30px; background-position:-250px -100px;}
.part-b-list{ margin-top:16px;}
.part-b-list li{ float:left; margin-left:21px;}
.part-b-list li.first{ margin-left:0;}
.part-b-list a{ display:block; position:relative; color:#fff; width:202px; height:274px; overflow:hidden;}
.shade{ position:absolute; top:214px; left:0; color:#fff; height:100%; background:url(/2016/images/scoll.png); padding:0 15px;}
.shade p{ font-size:18px; text-align:center; margin-top:20px; line-height:18px; margin-bottom:22px;}
.shade div{ font-size:14px; border-top:1px solid #fff; line-height:22px; padding-top:10px;}
.part-b-right{ float:right; width:300px;}
.qx i{ width:30px; height:30px; background-position:-150px -100px;}

.qx-mod-1{}
.qx-mod-1  span{ display:block; width:10px; height:10px; background-color:#b88eb9; margin-left:7px; float:left; cursor:pointer;}
.qx-mod-1  span.on{ background-color:#89428a;}
.qx-mod-1  span.first{ margin-left:256px;}

.qx-mod-2{ margin-top:5px;}
.qx-mod-2 a{ display:block; position:relative;}
.qx-mod-2 img{ width:300px; height:222px;}
.qx-mod-2 a div{ position:absolute; width:100%; height:60px; background:url(/2016/images/scoll.png) 0 0 no-repeat; color:#fff; font-size:16px; line-height:60px; left:0; bottom:0;}
.qx-mod-2 a div p{ padding:0 11px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.qx-mod-2-list{ display:none;}
.qx-mod-2-list.on{ display:block;}
.dashi i{ width:30px; height:30px; background-position:-200px -100px;}
.dashi{ margin-top:20px;}
.qx-mod-3{ margin-top:22px; height:507px; overflow:hidden; position:relative;}
.qx-mod-3 ul{ position:absolute; left:0; top:0;}
.yuan{ display:block; width:8px; height:8px; float:left; background-color:#c9c9c9; border-radius:4px; margin-top:2px;}
.timer{ display:block; float:left; font-size:14px; color:#89428a; line-height:14px; margin-left:3px;}
.qx-mod-3-address{font-size:14px; color:#89428a; line-height:14px; padding-left:11px; margin-top:9px;}
.qx-mod-3-img{ margin-top:10px; margin-left:11px;}
.qx-mod-3-img img{ width:280px; height:160px;}
.qx-mod-3-text{ font-size:14px; color:#333; margin-left:11px; margin-top:8px; display:block;}
.qx-mod-3 li{ background:url(/2016/images/hui.png) 3px 0 repeat-y; padding-bottom:10px;}
.roll{ position:absolute; right:0; top:0; background-color:#c9c9c9; width:5px; height:100%;}
.roll span{ display:block; width:100%; height:40px; position:absolute; left:0; top:0; background-color:#89428a; cursor:pointer;}

.part-c{ margin-top:20px;}
.pingce i{ width:24px; height:27px; background-position:0 -150px;}
.pingce a{ display:block; float:right; font-size:14px; color:#535353; margin-top:8px;}
.part-c-mod1{ margin-top:16px;}
.part-c-mod1 li{ float:left; margin-left:7px;}
.part-c-mod1 li.first{ margin-left:0;}
.part-c-mod1 a{ display:block; position:relative;}
.part-c-mod1 a img{ width:232px; height:232px; border:1px solid #000;}
.shadou{ position:absolute; left:0; bottom:0; background:url(/2016/images/scoll.png);  width: 214px;
; height: 55px; color: #fff; line-height: 24px;  padding-top: 5px; padding: 5px 10px 0;}




.part-d{ margin-top:20px;}
.tuijian i{ display:block; width:30px; height:28px; background-position:-50px -150px;}

.part-d-mod1{ background-color:#fff; margin-top:20px; padding-bottom:20px;}
.part-d-mod2{ border-bottom:2px solid #89428a;}
.part-d-mod2 span{ display:block; float:left; width:300px; color:#333; font-size:18px; text-align:center; font-size:18px; position:relative; cursor:pointer; height:43px; line-height:50px;}
.part-d-mod2 span.on{ color:#89428a;}
.part-d-mod2 span.on img{ display:block;}
.part-d-mod2 span img{ position:absolute; left:50%; width:22px; margin-left:-11px; top:43px; display:none;}

.part-d-mod3{ margin-top:10px;}
.part-d-mod3 li{ float:left;}
.part-d-mod3 li div{ float:left; height:18px; text-align:center; line-height:18px; padding:0 9px; background-color:#89428a; font-size:12px; color:#fff; margin-left:10px;}
.part-d-mod3 li span{ float:left; line-height:18px; font-size:12px; color:#333; margin-left:10px; cursor:pointer; margin-right:6px;}

.part-d-mod4{ width:1182px; margin:6px auto 0; text-align:center; font-size:12px; position:relative;}
.part-d-mod4-list-img{ display:block;}
.part-d-mod4-list-img img{ width:186px; height:140px;}
.part-d-mod4-list li{ width:186px; float:left; margin-right:23px;}
.part-d-mod4-list-text{ line-height:12px; color:#595757; margin-top:20px; display:block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.part-d-mod4-list-price{ line-height:12px; color:#cc0000; margin-top:10px;}
.part-d-mod4-list{ width:1034px; height:194px; overflow:hidden; position:relative; margin:0 auto;}
.part-d-mod4-list ul{ width:5000px; position:absolute; left:0; top:0;}

.prevBtn,.nextBtn{ position:absolute; width:51px; height:51px; top:53px; background:url(/2016/images/ico.png) 0 0 #8e8e8e no-repeat; border-radius:50%; cursor:pointer;}
.prevBtn{ left:0; background-position: -136px -146px;}
.nextBtn{ right:0; background-position:-181px -146px;}
.yingyin i{ width:30px; height:30px; background-position:-250px -150px;}
.part-e{ margin-top:20px;}
.yingyin{ margin-left:10px; margin-bottom:20px;}
.yingyin h3{ margin-right:20px;}
.part-e-mod1{ float:left;}
.part-e-mod1 span{ display:block; float:left; font-size:24px; line-height:28px; color:#333; margin-right:20px; padding-left:15px; cursor:pointer;}
.part-e-mod1 span.on{ color:#993399; background:url(/2016/images/sanjiao.png) 0 9px no-repeat;}
.part-e-l{ width:880px; float:left; background-color:#fff; padding-top:15px;}
.e-mod2-left{ float:left;}
.e-mod2-left img{ width:300px; height:200px;}
.part-e-mod2{ margin-left:10px;}
.part-e-mod2 li{ float:left; padding-bottom:20px; margin-bottom:20px; border-bottom:2px solid #eee;}
.part-e-mod2 li.last{ margin-bottom:0; border:none;}
.e-mod2-right{ float:left; width:517px; margin-left:20px; position:relative; height:200px;}
.e-mod2-title{ color:#000; font-size:18px; line-height:18px; margin-bottom:15px; display:block;}
.e-mod2-text{ font-size:14px; color:#333; line-height:22px;}
.e-mod2-timer{ font-size:12px; color:#999; position:absolute; left:0; bottom:0; width:100%;}
.e-mod2-timer-rb{ float:right;}
.e-mod2-timer-pl{ display:block; float:left; padding-left:20px; background:url(/2016/images/ico.png) -50px -200px no-repeat; font-size:12px; color:#666; line-height: 12px; cursor:pointer; margin-right:17px; margin-top: 2px;}
.e-mod2-timer-fx{ width:14px; height:16px; background:url(/2016/images/ico.png) -100px -200px; cursor:pointer; float:left;    position: relative;}
.part-e-mod2-more{ color:#fff; font-size:12px; line-height:28px; height:28px; background-color:#999; text-align:center; cursor:pointer; display:block;}
.part-e-mod2-more:hover{ background-color:#626262; text-decoration:none;}
.part-e-r{ width:300px; float:right;}
.part-e-r-top{ background-color:#fff; padding:15px 10px 0;}
.paih{ padding-bottom:8px; border-bottom:2px solid #89428a;}
.r-top-mod1-t{}
.r-top-mod1-t em{ display:block; width:17px; height:14px; text-align:center; line-height:14px; background-color:#666; float:left; color:#fff; font-size:12px;}
.r-top-mod1-t em.n1{ background-color:#cc0000;}
.r-top-mod1-t a{ float:left; color:#595757; line-height:16px; font-size:12px; display:block; margin-left:15px;}
.r-top-mod1-b{ margin-top:6px;}
.r-top-mod1-b img{ width:130px; height:100px; margin:0 auto;}
.r-top-mod1{ padding:10px 10px 15px; background-color:#fff; margin-bottom:10px;}
.r-top-mod1 li{ margin:0 auto 11px; border-bottom:1px solid #eee;}
.r-top-mod1 li.on{ border:none;}
.r-top-mod1 li img{ display:none;}
.r-top-mod1 li.on img{ display:block;}
.r-top-mod1-c{ height:69px; background-color:#eee; margin-top:11px; position:relative;}
.r-top-mod1-c p{ font-size:12px; color:#595757; padding:10px 10px 0; line-height:16px;}
.r-top-mod1-c div{ position:absolute; left:0; bottom:10px;}
.r-top-mod1-c div span{ float:left; display:block; padding-left:18px; background:url(/2016/images/ico.png) no-repeat; font-size:12px; line-height:12px;}
.r-top-mod1-c div span.s1{ background-position:-150px -199px; margin-left:180px;}
.r-top-mod1-c div span.s2{ background-position:-200px -199px; margin-left:6px;}
.r-top-mod2 li{ padding-bottom:13px;}
.r-top-mod3 li{ padding-bottom:7px;}
.r-top-mod3{ padding-bottom:0px;}
.part-f{ background-color:#fff; width:1180px; padding:20px 10px 0;}
.yejing i{ width:30px; height:25px; background-position:-250px -200px;}
.part-f-mod1 ul{ text-align:center;}
.part-f-mod1 li{ display:inline-block; cursor:pointer; margin:0 14px; font-size:14px; color:#333; height:30px; position:relative;}
.part-f-mod1 li.on{ color:#89428a;}
.part-f-mod1 li img{ position:absolute; left:50%; margin-left:-11px; top:30px; display:none;}
.part-f-mod1 li.on img{ display:block;}
.part-f-mod1{ border-bottom:2px solid #89428a;}
.part-f-mod2-li-title{ height:140px; border-bottom:2px solid #666;}
.part-f-mod2-l{ width:363px; float:left;}

.part-f-mod2-li-title{ color:#993399; font-size:14px; text-align:center; line-height:190px;}
.part-f-mod2-li-title-left{ background:url(/2016/images/ph-1.png) 50% 22px no-repeat;}
.part-f-mod2 .r-top-mod1-t a{ font-size:14px; line-height:14px;}
.r-top-mod1-t span{ float:right; font-size:14px; color:#595757; float:right;}
.r-top-mod1-b img{ width: 200px; height: 133px; margin-left:27px;}
.r-top-mod1 li{ border:none;}
.part-f-mod2-m{ width:363px; float:left; margin-left:46px;}
.part-f-mod2-r{ width:363px; float:right;}
.d-prev-li{ display:none;}
.d-prev-li.on{ display:block;}
.part-f-mod2-li-title-miD{ background:url(/2016/images/ph-2.png) 50% 13px no-repeat;}
.part-f-mod2-li-title-right{ background:url(/2016/images/ph-3.png) 50% 22px no-repeat; position: relative}

.part-e-mod2 ul{ display:none;}
.part-e-mod2 ul.on{ display:block;}
.scroll-img div{ font-size:12px; color:#fff; text-align:center;line-height: 19px;}
.scroll-img-new{ border-bottom:1px solid #fff; width:21px; margin:0 auto;margin-top: 12px;}
.bdsharebuttonbox { position: absolute; top: 18px; right: -4px; padding: 5px 5px 5px 0; width: 145px; border: 1px #ccc solid;  background-color: #fff; display: none;}
.bdsharebuttonbox.on{ display:block;}
.bdsharebuttonbox a{background: url(http://www.ea3w.com/images/ea3w-home-icon.png) no-repeat;float: left; _display: inline; margin: 0 0 0 5px; padding: 0;   width: 24px;height: 24px;line-height: 24px;cursor: pointer; display:block;}
.bdsharebuttonbox .bds_tsina { background-position: 0 -315px;}
.bdsharebuttonbox .bds_qzone { background-position: -25px -315px;}
.bdsharebuttonbox .bds_tqq {background-position: -50px -315px;}
.bdsharebuttonbox .bds_renren { background-position: -75px -315px;}
.bdsharebuttonbox .bds_weixin { background-position: -100px -315px;}

/*.bdsharebuttonbox .xinlang { background-position: 0 -315px;}
.bdsharebuttonbox .kongjian { background-position: -25px -315px;}
.bdsharebuttonbox .weibo {background-position: -50px -315px;}
.bdsharebuttonbox .renren { background-position: -75px -315px;}
.bdsharebuttonbox .weixin { background-position: -100px -315px;}*/

.part-f-mod2-nav{ font-size:14px; color:#666; line-height:26px; position:absolute; bottom:0; left:46px;}
.part-f-mod2-nav li{ float:left; cursor:pointer; margin-right:17px; position:relative;}
.part-f-mod2-nav li img{ position:absolute; width:22px; height:8px; top: 26px; left: 50%; margin-left: -11px; display:none;}
.part-f-mod2-nav li.on img{ display:block;}
.part-f-mod2-nav li.on{ color:#993399;}



/*dai 2016-5-23*/
#share a{
background: url(http://www.ea3w.com/images/ea3w-home-icon.png) no-repeat;
float: left;
_display: inline;
margin: 0 0 0 5px;
padding: 0;
width: 24px;
height: 24px;
line-height: 24px;
cursor: pointer;
display: block;
}

#share .bds_tsina { background-position: 0 -315px; }
#share .bds_qzone { background-position: -25px -315px; }
#share .bds_tqq { background-position: -50px -315px; }
#share .bds_renren { background-position: -75px -315px; }
#share .bds_weixin { background-position: -100px -315px; }

